@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.logo-font {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.z-max {
  z-index: 9999;
}

/* SearchBox Css */

/* From Uiverse.io by Bodyhc */
.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(172, 30, 255);
}

.search button[type="submit"] {
  background-color: rgb(172, 30, 255);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgb(172, 30, 255);
}
